html {
    font-family: 'Courier New', Courier, monospace; 
}

.navbar{    
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
}


.car img {
    width: 300px;
    height: 200px;
}

.button {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px;
}